/* Pagina Principal (Index.html) */
* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  box-sizing: border-box;
}
:root {
  --blood-color: #6d0713;
  --blood-medium-color: #a00c1d;
  --blood-light-color: #bb0a1e;
  --light-gray-color: #dbd9d9;
  --white-color: #fff;
  --facebook-color: #1976d2;
  --youtube-color: #ff0000;
  --instagram-color: #ea4968;
  --discord-color: #5c6bc0;
  --twitch-color: #6441a5;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--light-gray-color);
}
/* Header */
.header ul {
  display: flex;
  height: 150px;
  background-color: var(--blood-color);
  justify-content: space-between;
  align-items: center;
}

.header ul li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header ul li a {
  display: flex;
  position: absolute;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: var(--white-color);
}
.header ul li a:hover {
  filter: brightness(0.8);
  transition: filter 0.2s;
}

/* Home */

.containerHome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cardsHome {
  display: flex;
  width: 40%;
  height: 480px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  border: solid 2px var(--blood-light-color);
  padding: 16px;
  cursor: pointer;
}
.cardsHome:first-child {
  margin-right: 64px;
}
.cardsHome h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 32px;
  color: var(--blood-medium-color);
}
.cardsHome p {
  font-size: 20px;
  font-weight: 500;
  color: var(--blood-light-color);
}

/* Cards.html */
.containerCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards {
  display: flex;
  width: 40%;
  height: 480px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  border: solid 2px var(--blood-light-color);
  padding: 16px;
}
.cards * {
  margin-top: 32px;
}
.cards a,
h1 {
  color: var(--blood-light-color);
}
.cards h1 {
  font-size: 24px;
  font-weight: bold;
}

/* Criacao do sangue nas letras */
.blood {
  max-width: 200px;
  width: auto;
  height: 100%;
  margin-top: 40px;
}

.header ul li img {
  display: none;
  position: relative;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.8s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Redes Sociais (redesSociais.html) */

.content p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  font-size: 24px;
  font-weight: bold;
  color: var(--blood-light-color);
}

.redesSociais {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.redesSociais li {
  margin-top: 16px;
}

.redesSociais li a {
  font-size: 32px;
  font-weight: bold;
}

.facebookAnchor {
  color: var(--facebook-color);
}

.youtubeAnchor {
  color: var(--youtube-color);
}

.twitchAnchor {
  color: var(--twitch-color);
}

.instagramAnchor {
  color: var(--instagram-color);
}

.discordAnchor {
  color: var(--discord-color);
}

.redesSociais li:hover {
  filter: brightness(0.7);
  transition: filter 0.2s;
}

.redesSociais li img {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

/* PIX (pix.html) */

.contentPix {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentPix p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  font-size: 24px;
  font-weight: bold;
  color: var(--blood-light-color);
}

.contentPix img {
  display: flex;
  width: 20%;
  height: 20%;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
}

/* Modal */

/* Caroussel */

.containerCarousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carousel-inner img {
  width: 200px;
  height: 200px;
}
