/* Pagina Principal (Index.html) */
* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  background-color: rgb(238, 238, 238);
}
ul {
  display: flex;
  padding: 50px 0px;
  background-color: #bb0a1e;
  justify-content: center;
}

ul li {
  margin-right: 80px;
}

ul li:first-child {
  margin-left: 80px;
}

ul li a {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
ul li a:hover {
  filter: brightness(0.8);
  transition: filter 0.2s;
}
/* Pagina CFG (Index.html) */
.containerCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards {
  display: flex;
  width: 40%;
  height: 480px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  border: solid 2px #bb0a1e;
  padding: 16px;
}
.cards * {
  margin-top: 32px;
}
.cards a,
h1 {
  color: #bb0a1e;
}
.cards h1 {
  font-size: 24px;
  font-weight: bold;
}

/* Login */

.containerLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.containerLogin form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

/* Criacao do sangue nas letras */
/* .containerBlood {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blood {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6d0713;
  width: 60px;
  height: 100px;
}
.firstDrop {
  background: #bb0a1e;
  width: 20px;
  height: 20px;

  border-radius: 0% 60% 40% 60%;
  transform: rotate(45deg);
} */
/* .firstDrop {
  background: #bb0a1e;
  width: 20px;
  height: 20px;
  border-radius: 10% 60% 40% 60%;
  transform: rotate(45deg);
} */
/* .firstDrop {
  background: #bb0a1e;
  width: 5px;
  height: 5px;
  border-radius: 0% 80% 40% 80%;
  transform: rotate(45deg);
} */
/* .secondDrop {
  background: #bb0a1e;
  width: 5px;
  height: 4px;
  border-radius: 0% 0% 90% 90%;
}
.thirdDrop {
  background: #bb0a1e;
  width: 10px;
  height: 10px;
  border-radius: 0% 70% 40% 70%;
  transform: rotate(45deg);
} */
